<!doctype html>
<html lang="en">
<head>
  <link rel="shortcut icon" href="{{ site.baseurl }}images/favicon.ico" type="image/vnd.microsoft.icon">
  <meta charset="utf-8">
  <meta name="viewport"content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="{{ site.baseurl }}css/main.css">
  {% if page.active == "tutorial" %} 
	<link href="{{ site.baseurl }}css/tutorial.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="{{ site.baseurl }}css/codemirror/codemirror.css">  
  {% endif %}  
  <title>{{ page.title }} | Arts Holland Development</title>
</head>
<body>
  <header class="blue">
    <nav>
      <a href="{{ site.baseurl }}" id="logo"></a>
      <ul>
        <li {% if page.active == "about" %} class="active" {% endif %}><a href="{{ site.baseurl }}about">About</a></li>
        <li {% if page.active == "showcases" %} class="active" {% endif %}><a href="{{ site.baseurl }}showcases">Showcases</a></li>
        <li {% if page.active == "api" %} class="active" {% endif %}><a href="{{ site.baseurl }}api">Documentation</a></li>
        <li {% if page.active == "tutorial" %} class="active" {% endif %}><a href="{{ site.baseurl }}tutorial">Tutorial</a></li>
      </ul>
    </nav>
  </header>